<div class="ww-btn-bar">
	<!-- home button -->
	<a href="{{site.baseurl}}/index.html" class="ww-btn ww-btn-enabled" title="Guides">
		<svg class="icon icon-home3">
			<use xlink:href="{{ '/assets/symbol-defs.svg#icon-home3' | relative_url }}"></use>
		</svg>
	</a>
	{% if includeGuideButton == true %}
	<!-- this guide button -->
	<a href="#" class="ww-btn ww-btn-enabled" title="This Guide" onclick="window.open(getThisGuideIndexUrl(),'_self'); return false;">
		<svg class="icon icon-book">
			<use xlink:href="{{ '/assets/symbol-defs.svg#icon-book' | relative_url }}"></use>
		</svg>
	</a>
	{% endif %}
	{% if includeSearchButton == true %}
	<!-- search button -->
	<a href="{{site.baseurl}}/search.html?guide={{thisGuideId}}" class="ww-btn ww-btn-enabled" title="Search">
		<svg class="icon icon-search">
			<use xlink:href="{{ '/assets/symbol-defs.svg#icon-search' | relative_url }}"></use>
		</svg>
	</a>
	{% endif %}
	{% if includePageNavButtons == true %}
	<!-- prev page button -->
	{% if prevItem == '' %}
	<a href="#" class="ww-btn ww-btn-disabled ww-btn-disabled" title="">
		<svg class="icon icon-circle-left">
			<use xlink:href="{{ '/assets/symbol-defs.svg#icon-circle-left' | relative_url }}"></use>
		</svg>
	</a>
	{% else %}
	<a href="{{site.baseurl}}/{{ prevItem.url }}" class="ww-btn ww-btn-enabled" title="Previous page">
		<svg class="icon icon-circle-left">
			<use xlink:href="{{ '/assets/symbol-defs.svg#icon-circle-left' | relative_url }}"></use>
		</svg>
	</a>
	{% endif %}
	<!-- next page button -->
	{% if nextItem == '' %}
	<a href="#" class="ww-btn ww-btn-disabled" title="">
		<svg class="icon icon-circle-right">
			<use xlink:href="{{ '/assets/symbol-defs.svg#icon-circle-right' | relative_url }}"></use>
		</svg>
	</a>
	{% else %}
	<a href="{{site.baseurl}}/{{ nextItem.url }}" class="ww-btn ww-btn-enabled" title="Next page">
		<svg class="icon icon-circle-right">
			<use xlink:href="{{ '/assets/symbol-defs.svg#icon-circle-right' | relative_url }}"></use>
		</svg>
	</a>
	{% endif %}
	{% endif %}
	&nbsp;
</div>