<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta charset="UTF-8">

	{% seo %}
	<meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="icon" href="{{ '/assets/css/favicon.ico' | relative_url }}" type="image/x-icon" />

	<script src="{{site.baseurl}}/assets/js/lunr.js"></script>
	<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
	<script type="text/javascript">
		function getParameterByName(name, url) {
			if (!url) url = window.location.href;
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
		var appFolder = "{{site.baseurl}}";
		var guideId = getParameterByName('guide');
	</script>
	<script src="{{site.baseurl}}/assets/js/search.js"></script>
</head>
<body>

<section class="main-content">
	{{content}}
</section>

</body>
</html>
