<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="{{ '/assets/css/favicon.ico' | relative_url }}" type="image/x-icon" />
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
</head>
<body>

{% include /prev-next-page.html %}

<section class="page-header-banner-small">
    <h1 class="project-name">{{ site.data[thisGuideId].toc.toc[0].title }}</h1>
    {% assign includeSearchButton = true %}
    {% assign includePageNavButtons = true %}
    {% include /buttons.html %}
</section>

<aside>
    {% include /toc.html %}
</aside>

<section class="main-content">
    <div class="section-header">
        <h1>{{ page.title }}</h1>
    </div>
    {{ content }}
    </div>
</section>

</body>
</html>
